@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}